body {
    background-color: #2b2f39;
    padding-top: 70px; /* Adjust this value based on the actual height of your nav-box */
}

.nav-box {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-box img {
    height: 50px;
}

.nav-box a {
    text-decoration: none;
    margin-left: 20px;
    color: #000;
    padding: 5px 10px;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 6px;
}

.nav-box a:hover {
    color: #fff;
    background-color: #428142;
    border-radius: 6px;
}
#home {
    margin-right: 60px;

}
#references {
    margin-right: 60px;
    
}
@media (max-width: 768px) {
    .nav-box {
        flex-direction: column;
        text-align: center;
        padding: 10px 5px;
    }

    .nav-box img {
        margin-bottom: 10px;
    }

    .nav-box a {
        font-size: 14px;
        margin: 5px 0;
    }
}

h1 {
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
}
#earth {
    height: 30%;
    width: 30%;
}

.box1 {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    height: 43vh;
    width: 89%;
    /* border: 1px solid #ffffff; */
    padding: 5px;
    background-color: #333333b4;
    box-shadow: -8px 9px 20px 0px rgba(30,30,30,0.75);
    -webkit-box-shadow: -8px 9px 20px 0px rgba(30,30,30,0.75);
    -moz-box-shadow: -8px 9px 20px 0px rgba(30,30,30,0.75);
}
.box-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 8vh;
    /* border: 1px solid #ffffff; */
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 40px;
    padding-top: 10px;
    font-weight: 700;
}
.box-item:nth-child(2) {
    margin-top: 1%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 30vh;
    /* border: 1px solid #ffffff; */
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 300;
}
#desc-earth {
    font-size: 16px;
}
#bold {
    font-weight: 700;
    font-size: 17px;
    color: #e6f1ff;
}

#he-1 {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 70px;
    text-align: center;
    margin-bottom: 20px;
}

.box2 {
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    height: 50vh;
    padding: 5px;
    background-color: #333333b4;
    box-shadow: -8px 9px 20px 0px rgba(30,30,30,0.75);
    -webkit-box-shadow: -8px 9px 20px 0px rgba(30,30,30,0.75);
    -moz-box-shadow: -8px 9px 20px 0px rgba(30,30,30,0.75);
    width: 89%;
    justify-content: space-around;
}

.box2-item:nth-child(odd) {
    margin-top: 20px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 45vh;
    /* border: 1px solid #ffffff; */
    width: 35%;
    transform: scale(1);
    transition: ease 0.5s;
}
.box2-item:nth-child(odd):hover {
    transform: scale(1.1);
}
.box2-item:nth-child(even) {
    margin-top: 20px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 45vh;
    /* border: 1px solid #ffffff; */
    width: 60%;
    font-size: 15px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

#img-life {
    width: 80%;
    height: 100%;
}
#h-life {
    font-size: 30px;
    font-weight: 700;
}
